@import 'blinking.css/css/blinking.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chivo Mono';
  src: url('/fonts/ChivoMono-Regular.woff2') format('woff2');
}

* {
  font-family: 'Chivo Mono', monospace;
}
